{
  "presets": [
    	[
        	"@babel/preset-env",        	{
          	"useBuiltIns": "entry"
			},
			"airbnb"
    	]
	],
	"plugins": [
        [
          "@babel/plugin-proposal-class-properties"
				]
				
	],
	"env": {
		"test": {
		  "plugins": [ "istanbul" ]
		}
	}
}